@import "bootstrap/css/bootstrap.min.css";

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.header-image{
  padding: 2rem;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}

.contentArea{
  padding: 2rem;
}

.header{
  padding: 2rem;
  background-color: white;
  margin-top: 0;
  top: 0;
  text-align: center;
  font-size: 2rem;
}

.content-area{
  font-size: 1.5rem;
}