<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

  <div class="header-image">
    <img src="/images/homepage/MS_Logo.jpg">
  </div>


  <div class="contentArea">
    <div class="header">
      MoolahSense Active Intelligence
    </div>

    <div class="text-center content-area">
      Welcome to M.A.I. Blockchain
    </div>
  </div>

</body>

</html>